# Reading Data

In [23]:
import pandas as pd

In [27]:
!pwd

/Users/aratainamura

In [31]:
data_oceania = pd.read_csv('/Users/aratainamura/Desktop/data/gapminder_gdp_oceania.csv')

In [32]:
print(data_oceania)

       country         1952         1957         1962         1967  \
0    Australia  10039.59564  10949.64959  12217.22686  14526.12465
1  New Zealand  10556.57566  12247.39532  13175.67800  14463.91893

          1972         1977         1982         1987         1992  \
0  16788.62948  18334.19751  19477.00928  21888.88903  23424.76683
1  16046.03728  16233.71770  17632.41040  19007.19129  18363.32494

          1997         2002         2007
0  26997.93657  30687.75473  34435.36744
1  21050.41377  23189.80135  25185.00911

In [33]:
data_oceania.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  2 non-null      object
 1   1952     2 non-null      float64
 2   1957     2 non-null      float64
 3   1962     2 non-null      float64
 4   1967     2 non-null      float64
 5   1972     2 non-null      float64
 6   1977     2 non-null      float64
 7   1982     2 non-null      float64
 8   1987     2 non-null      float64
 9   1992     2 non-null      float64
 10  1997     2 non-null      float64
 11  2002     2 non-null      float64
 12  2007     2 non-null      float64
dtypes: float64(12), object(1)
memory usage: 336.0+ bytes

In [34]:
print(data_oceania.columns)

Index(['country', '1952', '1957', '1962', '1967', '1972', '1977', '1982',
       '1987', '1992', '1997', '2002', '2007'],
      dtype='object')

In [35]:
print(data_oceania.T)

                   0            1
country    Australia  New Zealand
1952     10039.59564  10556.57566
1957     10949.64959  12247.39532
1962     12217.22686    13175.678
1967     14526.12465  14463.91893
1972     16788.62948  16046.03728
1977     18334.19751   16233.7177
1982     19477.00928   17632.4104
1987     21888.88903  19007.19129
1992     23424.76683  18363.32494
1997     26997.93657  21050.41377
2002     30687.75473  23189.80135
2007     34435.36744  25185.00911

In [36]:
transposed_data_oceania = data_oceania.T

In [37]:
transposed_data_oceania.info

<bound method DataFrame.info of                    0            1
country    Australia  New Zealand
1952     10039.59564  10556.57566
1957     10949.64959  12247.39532
1962     12217.22686    13175.678
1967     14526.12465  14463.91893
1972     16788.62948  16046.03728
1977     18334.19751   16233.7177
1982     19477.00928   17632.4104
1987     21888.88903  19007.19129
1992     23424.76683  18363.32494
1997     26997.93657  21050.41377
2002     30687.75473  23189.80135
2007     34435.36744  25185.00911>

In [40]:
data_europe = pd.read_csv('/Users/aratainamura/Desktop/data/gapminder_gdp_europe.csv', index_col = 'country')

In [43]:
print(data_europe.loc['Albania', '1952'])

1601.056136

In [44]:
print(data_europe.shape)

(30, 12)

In [45]:
print('first value in df:', data_europe.iloc[0,0])

first value in df: 1601.056136

In [47]:
print('find middle value:', data_europe.iloc[14,5])

find middle value: 11150.98113

In [48]:
print(data_europe.loc['Belgium':'Bulgaria','1957':'1987'])

                               1957          1962          1967          1972  \
country
Belgium                 9714.960623  10991.206760  13149.041190  16672.143560
Bosnia and Herzegovina  1353.989176   1709.683679   2172.352423   2860.169750
Bulgaria                3008.670727   4254.337839   5577.002800   6597.494398

                                1977          1982          1987
country
Belgium                 19117.974480  20979.845890  22525.563080
Bosnia and Herzegovina   3528.481305   4126.613157   4314.114757
Bulgaria                 7612.240438   8224.191647   8239.854824

In [49]:
print("All countries before (and including) Belgium for years 1957-1967")

All countries before (and including) Belgium for years 1957-1967

In [50]:
print(data_europe.loc[:'Belgium','1957':'1967'])

                1957          1962          1967
country
Albania  1942.284244   2312.888958   2760.196931
Austria  8842.598030  10750.721110  12834.602400
Belgium  9714.960623  10991.206760  13149.041190

In [51]:
print("All countries from the year 2002 onwards")

All countries from the year 2002 onwards

In [53]:
print(data_europe.loc[:, '2002':])

                                2002          2007
country
Albania                  4604.211737   5937.029526
Austria                 32417.607690  36126.492700
Belgium                 30485.883750  33692.605080
Bosnia and Herzegovina   6018.975239   7446.298803
Bulgaria                 7696.777725  10680.792820
Croatia                 11628.388950  14619.222720
Czech Republic          17596.210220  22833.308510
Denmark                 32166.500060  35278.418740
Finland                 28204.590570  33207.084400
France                  28926.032340  30470.016700
Germany                 30035.801980  32170.374420
Greece                  22514.254800  27538.411880
Hungary                 14843.935560  18008.944440
Iceland                 31163.201960  36180.789190
Ireland                 34077.049390  40675.996350
Italy                   27968.098170  28569.719700
Montenegro               6557.194282   9253.896111
Netherlands             33724.757780  36797.933320
Norway                  44683.975250  49357.190170
Poland                  12002.239080  15389.924680
Portugal                19970.907870  20509.647770
Romania                  7885.360081  10808.475610
Serbia                   7236.075251   9786.534714
Slovak Republic         13638.778370  18678.314350
Slovenia                20660.019360  25768.257590
Spain                   24835.471660  28821.063700
Sweden                  29341.630930  33859.748350
Switzerland             34480.957710  37506.419070
Turkey                   6508.085718   8458.276384
United Kingdom          29478.999190  33203.261280

In [54]:
print(data_europe.loc['Italy', :])

1952     4931.404155
1957     6248.656232
1962     8243.582340
1967    10022.401310
1972    12269.273780
1977    14255.984750
1982    16537.483500
1987    19207.234820
1992    22013.644860
1997    24675.024460
2002    27968.098170
2007    28569.719700
Name: Italy, dtype: float64

In [55]:
print(data_europe.loc[:,'1982'])

country
Albania                    3630.880722
Austria                   21597.083620
Belgium                   20979.845890
Bosnia and Herzegovina     4126.613157
Bulgaria                   8224.191647
Croatia                   13221.821840
Czech Republic            15377.228550
Denmark                   21688.040480
Finland                   18533.157610
France                    20293.897460
Germany                   22031.532740
Greece                    15268.420890
Hungary                   12545.990660
Iceland                   23269.607500
Ireland                   12618.321410
Italy                     16537.483500
Montenegro                11222.587620
Netherlands               21399.460460
Norway                    26298.635310
Poland                     8451.531004
Portugal                  11753.842910
Romania                    9605.314053
Serbia                    15181.092700
Slovak Republic           11348.545850
Slovenia                  17866.721750
Spain                     13926.169970
Sweden                    20667.381250
Switzerland               28397.715120
Turkey                     4241.356344
United Kingdom            18232.424520
Name: 1982, dtype: float64

In [56]:
print('first four countries, first 3 years;', data_europe.iloc[0:4,0:3])

first four countries, first 3 years;                                1952         1957          1962
country
Albania                 1601.056136  1942.284244   2312.888958
Austria                 6137.076492  8842.598030  10750.721110
Belgium                 8343.105127  9714.960623  10991.206760
Bosnia and Herzegovina   973.533195  1353.989176   1709.683679

In [57]:
print(data_europe.iloc[0:2, 0:2])

                1952         1957
country
Albania  1601.056136  1942.284244
Austria  6137.076492  8842.598030

In [59]:
print(data_europe.loc['Albania':'Belgium', '1952':'1962'])

                1952         1957          1962
country
Albania  1601.056136  1942.284244   2312.888958
Austria  6137.076492  8842.598030  10750.721110
Belgium  8343.105127  9714.960623  10991.206760

In [61]:
data_america = pd.read_csv('/Users/aratainamura/Desktop/data/gapminder_gdp_americas.csv')

In [62]:
print(data_america.shape)

(25, 13)

In [63]:
print(data_america)

                country          1952          1957          1962  \
0             Argentina   3758.523437   4245.256698   4957.037982
1               Bolivia   3112.363948  61729.977564  62612.716475
2                Brazil  52526.828538  52271.715538   2492.351109
3                Canada  80721.137366   2127.686326  72081.241665
4                 Chile   7689.799761   9802.466526   8422.974165
5              Colombia   2194.926204   2220.487682   2291.156835
6            Costa Rica   2480.380334   2961.800905  52557.508254
7                  Cuba   3478.125529  53439.098778   4581.609385
8    Dominican Republic   3522.110717   3780.546651   6766.936778
9               Ecuador  58463.737172   4315.622723   4519.094331
10          El Salvador  53800.299705   2487.365989   3336.585802
11            Guatemala  81010.076599  83776.637546   7133.166023
12                Haiti  13990.482080  14847.127120  16173.145860
13             Honduras   1397.717137   1544.402995   1662.137359
14              Jamaica   1952.308701   2046.154706  74736.768154
15               Mexico  90971.848359  12489.950060  13462.485550
16            Nicaragua   5586.538780  61831.146340   5180.755910
17               Panama   3023.271928   4100.393400   4997.523971
18             Paraguay   3081.959785  46346.460607   5108.344630
19                 Peru   1840.366939   1726.887882  59867.581838
20          Puerto Rico  11305.358687   2990.010802   3460.937025
21  Trinidad and Tobago   2898.530881  56729.351007   5246.107524
22        United States   2428.237769   2617.155967  68971.672032
23              Uruguay   5716.766744   6150.772969   5603.357717
24            Venezuela   3048.302900   3421.523218   3776.803627

            1967          1972          1977          1982          1987  \
0   77446.825850   5937.827283   6281.290855   6434.501797   6360.943444
1    4643.393534   4688.593267   5486.371089   3470.338156  48502.998326
2    2678.729839  59550.767795   3815.807870  44440.084992   7076.478233
3    2586.886053   2980.331339   3548.097832  56094.065164  43992.204121
4    9541.474188  10505.259660  13143.950950  11152.410110   9883.584648
5    2538.269358  57893.227021  56796.398209  59909.319485   3023.096699
6    4421.009084   5364.249663   5351.912144   7009.601598   7034.779161
7    5754.733883   6809.406690   7674.929108   9611.147541  49926.668634
8   63315.740215   5280.994710   6679.623260  60151.345979  55701.937230
9   60524.710025  53739.259655  49291.950011   5095.665738   5547.063754
10  68574.166648   4985.711467   6660.118654   7030.835878  49045.608449
11   8052.953021   9443.038526  59485.248903   8997.897412   9139.671389
12  19530.365570  21806.035940  24072.632130  25009.559140  29884.350410
13   1653.723003   2189.874499   2681.988900   2861.092386   2899.842175
14   2299.376311  57886.722653  44313.285239   4258.503604   3998.875695
15  16076.588030  62829.875603  22090.883060  22898.792140  26626.515030
16   5690.268015   5305.445256   6380.494966  54476.998899   7532.924763
17  56085.264613   6619.551419  51214.598297   9119.528607  47020.415157
18   6929.277714   9123.041742   9770.524921  72797.303710  12281.341910
19   1452.057666   1654.456946  41624.380102   2011.159549   1823.015995
20   4161.727834   5118.146939   5926.876967   5262.734751   5629.915318
21   6124.703451  61039.706202  51185.381748   6068.051350   6351.237495
22  60114.541083   4031.408271   4879.992748   4820.494790   4246.485974
23   5444.619620   5703.408898   6504.339663   6920.223051  52329.603891
24   4358.595393  29513.658556   5138.922374   4098.344175   4140.442097

            1992          1997          2002          2007
0    4446.380924   5838.347657  53731.890130  38648.379084
1    2170.151724   2253.023004   2474.548819   2749.320965
2    5444.648617   6117.361746  45726.614039   7006.580419
3   44472.344119  47416.219133   3413.262690   3822.137084
4   10733.926310  10165.495180   8605.047831  51580.843077
5    3081.694603   3160.454906   3099.728660   3548.330846
6    6618.743050  44149.356043   7356.031934   9809.185636
7   22717.392095  29732.575803  10742.440530  11977.574960
8    7103.702595   7429.455877   5773.044512  36757.420700
9    7596.125964  10118.053180  10778.783850  13171.638850
10   6950.283021   7957.980824   8131.212843   9065.800825
11   9308.418710  10967.281950   8797.640716  12779.379640
12  32003.932240  35767.433030  39097.099550  42951.653090
13   3044.214214  40649.765076   4563.808154   6025.374752
14  45138.416539   4247.400261  40469.711547   4172.838464
15  26342.884260  72356.094396  50351.280073  36319.235010
16   5592.843963   5431.990415   6340.646683  52202.758570
17  47221.209580   8792.573126  11460.600230  54286.607525
18  62847.496765  16999.433300  18855.606180  19328.709010
19  56803.835417  52780.148864  38989.811737   1201.637154
20  65935.744289  51478.251513   7723.447195  53747.847570
21   7404.923685   7121.924704   6994.774861   7320.880262
22   4439.450840   4684.313807  48053.197869   5186.050003
23   8137.004775   9230.240708   7727.002004  10611.462990
24   4444.231700   5154.825496  50742.767364   5728.353514

In [64]:
data_america.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  25 non-null     object
 1   1952     25 non-null     float64
 2   1957     25 non-null     float64
 3   1962     25 non-null     float64
 4   1967     25 non-null     float64
 5   1972     25 non-null     float64
 6   1977     25 non-null     float64
 7   1982     25 non-null     float64
 8   1987     25 non-null     float64
 9   1992     25 non-null     float64
 10  1997     25 non-null     float64
 11  2002     25 non-null     float64
 12  2007     25 non-null     float64
dtypes: float64(12), object(1)
memory usage: 2.7+ KB

In [65]:
data_europe.info?

Signature:
data_europe.info(
    verbose: 'bool | None' = None,
    buf: 'WriteBuffer[str] | None' = None,
    max_cols: 'int | None' = None,
    memory_usage: 'bool | str | None' = None,
    show_counts: 'bool | None' = None,
    null_counts: 'bool | None' = None,
) -> 'None'
Docstring:
Print a concise summary of a DataFrame.

This method prints information about a DataFrame including
the index dtype and columns, non-null values and memory usage.

Parameters
----------
verbose : bool, optional
    Whether to print the full summary. By default, the setting in
    ``pandas.options.display.max_info_columns`` is followed.
buf : writable buffer, defaults to sys.stdout
    Where to send the output. By default, the output is printed to
    sys.stdout. Pass a writable buffer if you need to further process
    the output.    max_cols : int, optional
    When to switch from the verbose to the truncated output. If the
    DataFrame has more than `max_cols` columns, the truncated output
    is used. By default, the setting in
    ``pandas.options.display.max_info_columns`` is used.
memory_usage : bool, str, optional
    Specifies whether total memory usage of the DataFrame
    elements (including the index) should be displayed. By default,
    this follows the ``pandas.options.display.memory_usage`` setting.

    True always show memory usage. False never shows memory usage.
    A value of 'deep' is equivalent to "True with deep introspection".
    Memory usage is shown in human-readable units (base-2
    representation). Without deep introspection a memory estimation is
    made based in column dtype and number of rows assuming values
    consume the same memory amount for corresponding dtypes. With deep
    memory introspection, a real memory usage calculation is performed
    at the cost of computational resources. See the
    :ref:`Frequently Asked Questions <df-memory-usage>` for more
    details.
show_counts : bool, optional
    Whether to show the non-null counts. By default, this is shown
    only if the DataFrame is smaller than
    ``pandas.options.display.max_info_rows`` and
    ``pandas.options.display.max_info_columns``. A value of True always
    shows the counts, and False never shows the counts.
null_counts : bool, optional
    .. deprecated:: 1.2.0
        Use show_counts instead.

Returns
-------
None
    This method prints a summary of a DataFrame and returns None.

See Also
--------
DataFrame.describe: Generate descriptive statistics of DataFrame
    columns.
DataFrame.memory_usage: Memory usage of DataFrame columns.

Examples
--------
>>> int_values = [1, 2, 3, 4, 5]
>>> text_values = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']
>>> float_values = [0.0, 0.25, 0.5, 0.75, 1.0]
>>> df = pd.DataFrame({"int_col": int_values, "text_col": text_values,
...                   "float_col": float_values})
>>> df
    int_col text_col  float_col
0        1    alpha       0.00
1        2     beta       0.25
2        3    gamma       0.50
3        4    delta       0.75
4        5  epsilon       1.00

Prints information of all columns:

>>> df.info(verbose=True)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   int_col    5 non-null      int64
 1   text_col   5 non-null      object
 2   float_col  5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes

Prints a summary of columns count and its dtypes but not per column
information:

>>> df.info(verbose=False)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, int_col to float_col
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes

Pipe output of DataFrame.info to buffer instead of sys.stdout, get
buffer content and writes to a text file:

>>> import io
>>> buffer = io.StringIO()
>>> df.info(buf=buffer)
>>> s = buffer.getvalue()
>>> with open("df_info.txt", "w",
...           encoding="utf-8") as f:  # doctest: +SKIP
...     f.write(s)
260

The `memory_usage` parameter allows deep introspection mode, specially
useful for big DataFrames and fine-tune memory optimization:

>>> random_strings_array = np.random.choice(['a', 'b', 'c'], 10 ** 6)
>>> df = pd.DataFrame({
...     'column_1': np.random.choice(['a', 'b', 'c'], 10 ** 6),
...     'column_2': np.random.choice(['a', 'b', 'c'], 10 ** 6),
...     'column_3': np.random.choice(['a', 'b', 'c'], 10 ** 6)
... })
>>> df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   column_1  1000000 non-null  object
 1   column_2  1000000 non-null  object
 2   column_3  1000000 non-null  object
dtypes: object(3)
memory usage: 22.9+ MB

>>> df.info(memory_usage='deep')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   column_1  1000000 non-null  object
 1   column_2  1000000 non-null  object
 2   column_3  1000000 non-null  object
dtypes: object(3)
memory usage: 165.9 MB
File:      ~/anaconda3/lib/python3.10/site-packages/pandas/core/frame.py
Type:      method

In [67]:
help(data_america.head)

Help on method head in module pandas.core.generic:

head(n: 'int' = 5) -> 'NDFrameT' method of pandas.core.frame.DataFrame instance
    Return the first `n` rows.

    This function returns the first `n` rows for the object based
    on position. It is useful for quickly testing if your object
    has the right type of data in it.

    For negative values of `n`, this function returns all rows except
    the last `|n|` rows, equivalent to ``df[:n]``.

    If n is larger than the number of rows, this function returns all rows.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    same type as caller
        The first `n` rows of the caller object.

    See Also
    --------
    DataFrame.tail: Returns the last `n` rows.

    Examples
    --------
    >>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
    ...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
    >>> df
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot
    6      shark
    7      whale
    8      zebra

    Viewing the first 5 lines

    >>> df.head()
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey

    Viewing the first `n` lines (three in this case)

    >>> df.head(3)
          animal
    0  alligator
    1        bee
    2     falcon

    For negative values of `n`

    >>> df.head(-3)
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot

In [68]:
help(data_america.tail)

Help on method tail in module pandas.core.generic:

tail(n: 'int' = 5) -> 'NDFrameT' method of pandas.core.frame.DataFrame instance
    Return the last `n` rows.

    This function returns last `n` rows from the object based on
    position. It is useful for quickly verifying data, for example,
    after sorting or appending rows.

    For negative values of `n`, this function returns all rows except
    the first `|n|` rows, equivalent to ``df[|n|:]``.

    If n is larger than the number of rows, this function returns all rows.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    type of caller
        The last `n` rows of the caller object.

    See Also
    --------
    DataFrame.head : The first `n` rows of the caller object.

    Examples
    --------
    >>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
    ...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
    >>> df
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot
    6      shark
    7      whale
    8      zebra

    Viewing the last 5 lines

    >>> df.tail()
       animal
    4  monkey
    5  parrot
    6   shark
    7   whale
    8   zebra

    Viewing the last `n` lines (three in this case)

    >>> df.tail(3)
      animal
    6  shark
    7  whale
    8  zebra

    For negative values of `n`

    >>> df.tail(-3)
       animal
    3    lion
    4  monkey
    5  parrot
    6   shark
    7   whale
    8   zebra

In [69]:
print(data_america.head)

<bound method NDFrame.head of                 country          1952          1957          1962  \
0             Argentina   3758.523437   4245.256698   4957.037982
1               Bolivia   3112.363948  61729.977564  62612.716475
2                Brazil  52526.828538  52271.715538   2492.351109
3                Canada  80721.137366   2127.686326  72081.241665
4                 Chile   7689.799761   9802.466526   8422.974165
5              Colombia   2194.926204   2220.487682   2291.156835
6            Costa Rica   2480.380334   2961.800905  52557.508254
7                  Cuba   3478.125529  53439.098778   4581.609385
8    Dominican Republic   3522.110717   3780.546651   6766.936778
9               Ecuador  58463.737172   4315.622723   4519.094331
10          El Salvador  53800.299705   2487.365989   3336.585802
11            Guatemala  81010.076599  83776.637546   7133.166023
12                Haiti  13990.482080  14847.127120  16173.145860
13             Honduras   1397.717137   1544.402995   1662.137359
14              Jamaica   1952.308701   2046.154706  74736.768154
15               Mexico  90971.848359  12489.950060  13462.485550
16            Nicaragua   5586.538780  61831.146340   5180.755910
17               Panama   3023.271928   4100.393400   4997.523971
18             Paraguay   3081.959785  46346.460607   5108.344630
19                 Peru   1840.366939   1726.887882  59867.581838
20          Puerto Rico  11305.358687   2990.010802   3460.937025
21  Trinidad and Tobago   2898.530881  56729.351007   5246.107524
22        United States   2428.237769   2617.155967  68971.672032
23              Uruguay   5716.766744   6150.772969   5603.357717
24            Venezuela   3048.302900   3421.523218   3776.803627

            1967          1972          1977          1982          1987  \
0   77446.825850   5937.827283   6281.290855   6434.501797   6360.943444
1    4643.393534   4688.593267   5486.371089   3470.338156  48502.998326
2    2678.729839  59550.767795   3815.807870  44440.084992   7076.478233
3    2586.886053   2980.331339   3548.097832  56094.065164  43992.204121
4    9541.474188  10505.259660  13143.950950  11152.410110   9883.584648
5    2538.269358  57893.227021  56796.398209  59909.319485   3023.096699
6    4421.009084   5364.249663   5351.912144   7009.601598   7034.779161
7    5754.733883   6809.406690   7674.929108   9611.147541  49926.668634
8   63315.740215   5280.994710   6679.623260  60151.345979  55701.937230
9   60524.710025  53739.259655  49291.950011   5095.665738   5547.063754
10  68574.166648   4985.711467   6660.118654   7030.835878  49045.608449
11   8052.953021   9443.038526  59485.248903   8997.897412   9139.671389
12  19530.365570  21806.035940  24072.632130  25009.559140  29884.350410
13   1653.723003   2189.874499   2681.988900   2861.092386   2899.842175
14   2299.376311  57886.722653  44313.285239   4258.503604   3998.875695
15  16076.588030  62829.875603  22090.883060  22898.792140  26626.515030
16   5690.268015   5305.445256   6380.494966  54476.998899   7532.924763
17  56085.264613   6619.551419  51214.598297   9119.528607  47020.415157
18   6929.277714   9123.041742   9770.524921  72797.303710  12281.341910
19   1452.057666   1654.456946  41624.380102   2011.159549   1823.015995
20   4161.727834   5118.146939   5926.876967   5262.734751   5629.915318
21   6124.703451  61039.706202  51185.381748   6068.051350   6351.237495
22  60114.541083   4031.408271   4879.992748   4820.494790   4246.485974
23   5444.619620   5703.408898   6504.339663   6920.223051  52329.603891
24   4358.595393  29513.658556   5138.922374   4098.344175   4140.442097

            1992          1997          2002          2007
0    4446.380924   5838.347657  53731.890130  38648.379084
1    2170.151724   2253.023004   2474.548819   2749.320965
2    5444.648617   6117.361746  45726.614039   7006.580419
3   44472.344119  47416.219133   3413.262690   3822.137084
4   10733.926310  10165.495180   8605.047831  51580.843077
5    3081.694603   3160.454906   3099.728660   3548.330846
6    6618.743050  44149.356043   7356.031934   9809.185636
7   22717.392095  29732.575803  10742.440530  11977.574960
8    7103.702595   7429.455877   5773.044512  36757.420700
9    7596.125964  10118.053180  10778.783850  13171.638850
10   6950.283021   7957.980824   8131.212843   9065.800825
11   9308.418710  10967.281950   8797.640716  12779.379640
12  32003.932240  35767.433030  39097.099550  42951.653090
13   3044.214214  40649.765076   4563.808154   6025.374752
14  45138.416539   4247.400261  40469.711547   4172.838464
15  26342.884260  72356.094396  50351.280073  36319.235010
16   5592.843963   5431.990415   6340.646683  52202.758570
17  47221.209580   8792.573126  11460.600230  54286.607525
18  62847.496765  16999.433300  18855.606180  19328.709010
19  56803.835417  52780.148864  38989.811737   1201.637154
20  65935.744289  51478.251513   7723.447195  53747.847570
21   7404.923685   7121.924704   6994.774861   7320.880262
22   4439.450840   4684.313807  48053.197869   5186.050003
23   8137.004775   9230.240708   7727.002004  10611.462990
24   4444.231700   5154.825496  50742.767364   5728.353514  >

In [70]:
data_america.tail(3)

,country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
22,United States,2428.237769,2617.155967,68971.672032,60114.541083,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,48053.197869,5186.050003
23,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,52329.603891,8137.004775,9230.240708,7727.002004,10611.462990
24,Venezuela,3048.302900,3421.523218,3776.803627,4358.595393,29513.658556,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,50742.767364,5728.353514

In [71]:
data_america.head(3)

,country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
0,Argentina,3758.523437,4245.256698,4957.037982,77446.825850,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,53731.890130,38648.379084
1,Bolivia,3112.363948,61729.977564,62612.716475,4643.393534,4688.593267,5486.371089,3470.338156,48502.998326,2170.151724,2253.023004,2474.548819,2749.320965
2,Brazil,52526.828538,52271.715538,2492.351109,2678.729839,59550.767795,3815.807870,44440.084992,7076.478233,5444.648617,6117.361746,45726.614039,7006.580419

In [72]:
data_america.tail(3).T

                    22            23            24
country  United States       Uruguay     Venezuela
1952       2428.237769   5716.766744     3048.3029
1957       2617.155967   6150.772969   3421.523218
1962      68971.672032   5603.357717   3776.803627
1967      60114.541083    5444.61962   4358.595393
1972       4031.408271   5703.408898  29513.658556
1977       4879.992748   6504.339663   5138.922374
1982        4820.49479   6920.223051   4098.344175
1987       4246.485974  52329.603891   4140.442097
1992        4439.45084   8137.004775     4444.2317
1997       4684.313807   9230.240708   5154.825496
2002      48053.197869   7727.002004  50742.767364
2007       5186.050003   10611.46299   5728.353514

In [74]:
'element'[-3:]

'ent'